// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 10%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
    @include valo;

    // Insert your own theme rules here
    .welcome-ui {
        background-color: transparent;
    }

    .welcome-view {
        background: black;
        .v-button-link {
            background-color: deeppink;
            margin-top: 1mm;
            margin-right: 1mm;
            margin-bottom: 1mm;
            color: white;
        }

    }
    .welcome-menu {
        background: white;
        opacity: 0.75;
    }
    .welcome-content {
        background: black;
        opacity: 0.75;
        color: white;
        font-weight: bold;
        .tag{
            font-size: 150%;
        }
        .value{
            font-size: 200%;
            font-weight: bold;
            color: deeppink;
        }
    }

    .register-view {
        background: black;
        .v-button-link {
            background-color: deeppink;
            margin-top: 1mm;
            margin-right: 1mm;
            margin-bottom: 1mm;
            color: white;
        }

    }

    .register-menu {
        background: white;
        opacity: 0.75;
    }
    .register-content {
        background: black;
        opacity: 0.75;
        color: white;
        font-weight: bold;
    }

    .user-view {
        background: black;
        .tag{
            font-size: 100%;
        }
        .value{
            font-size: 150%;
            font-weight: bold;
            color: tomato;
        }

        .v-button-link {
            background-color: tomato;
            margin-top: 1mm;
            margin-right: 1mm;
            margin-bottom: 1mm;
            color: white;
        }
    }

    .user-content {
        background: black;
        opacity: 0.9;
    }

    .photo-layout {
        background: black;
    }
    .account-details {
        color: white;
        font-weight: bold;
    }

    .user-menu {
        background: white;
        opacity: 0.75;
    }

    .personal-info {
        background: transparent;        
    }

    .editable-label {
        background-color: white;
        color: white;
        .v-label {
            font-size: 300%;
        }
        .v-textfield {
            background: black;
            font-size: 300%;
            color: white;
        }
    }

    .tag{
        font-size: 100%;
    }

    .value{
        font-size: 150%;
        font-weight: bold;
    }

    .v-button-small{
        background-color: black;
        color: white;
    }

    .v-textarea {
        background: transparent;
        border: none;
        color: red;
        font-size: large;
        font-family: monospace;
        text-align: justify center;
    }

    .forms {
        background: transparent;
        color: white;
    }

    .window {
        background: black;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .combo-box{
        background: white;
        opacity: .9;
        color: black;
    }

    .tile-white{
        background-color: white;
    }

    .tile-gray{
        background-color: gray;
    }

    .birthdata {
        background: black;
        color: white;
        font-size: 200%;
    }

}
